<h1>Listing Events with Comments</h1>

<table border="1">
	<tr>
		<th>Name</th>
		<th>Organizer</th>
		<th>Place</th>
	</tr>

	<% @events.each do |event| %>
		<tr>
			<td><%= link_to event.name, event_path(event) %></td>
			<td><%= event.organizer %></td>
			<td><%= event.place %></td>
			<td><%= event.comments.first.comment if event.comments.any? %> <%= link_to "See All...", event_comments_path(event) %></td>
		</tr>
	<% end %>
</table>
<br /><br /><br />
<%= link_to "New Event", new_event_path %> | <%= link_to "All Users", users_path %>